# OS files
.DS_Store

# IDE/editor
.vscode/
.idea/

# Python build/output
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info

# Environments
.venv
.env

# Data/logs
db_logs/
postgres_data/
*.log
*.csv